<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
        <div class="pageContent">
                <h1>Hi, I'm Kris!</h1>
                <h2>My Mission Statement:</h2>
                <p>I love being a nerd! I've spent many years learning a wide vairety of skills and how to use them to create great experiences
                that bring joy to those who use them. The greatest joy for me in this field is that there will always be more to learn, more to discover,
                and more to create. I am humbled to be able to use my talents, skills, and passion to touch people lives and help them as best I can.</p>
                
                <h2>My Goals:</h2>
                <ul>
                        <li>To find an amazing team to work with where many individuals with a diverse range of talents come together to tackle a vairety
                        of challenges.</li>
                        <li>To be in an environment that encourages continous growth and learning</li>
                        <li>To do my part in making the world a better place</li>
                </ul>
        </div>
<%- include('./partials/footer') %>