<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
        <div class="pageContent">
                <div class="pageHeading">
                        <h1>What I offer...</h1>
                </div>

                <h2>Web Development - Frontend</h2>
                <div class="skillCard">
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>JavaScript</p>
                        <p>React</p>
                        <p>Three.js</p>
                </div>

                <h2>Web Development - Backend</h2>
                <div class="skillCard">
                        <p>Node</p>
                        <p>Express</p>
                        <p>PHP</p>
                        <p>SQL</p>
                </div>

                <h2>Programming</h2>
                <div class="skillCard">
                        <p>Java</p>
                        <p>C</p>
                        <p>C#</p>
                        <p>Python</p>
                        <p>Bash</p>
                        <p>Powershell</p>
                </div>

                <h2>Design</h2>
                <div class="skillCard">
                        <p>Photoshop/GIMP</p>
                        <p>Illustrator/Inkscape</p>
                        <p>Premiere Pro/Kdenlive</p>
                        <p>Photography</p>
                        <p>Print Services</p>
                </div>

                <h2>Electornics</h2>
                <div class="skillCard">
                        <p>Raspberry Pi</p>
                        <p>Arduino</p>
                        <p>AVRs</p>
                        <p>Board level repair</p>
                </div>

                <h2>Working Environment</h2>
                <div class="skillCard">
                        <p>In office</p>
                        <p>Hybrid</p>
                        <p>Remote</p>
                </div>
        </div>
<%- include('./partials/footer') %>