<!DOCTYPE html>
<html>
    <head>
        <title><%= pageName %></title>
        <link rel="stylesheet" href="./css/site.css">
    </head>
    <body>
        <script src="./js/animateBackground.js" defer></script>
        <%- include('./backgroundSVG') %>
        <div class="primaryGrid">