<section class="navigationMain" >
    <%- include('./logo') %>
    <div class="navigationLinks">
        <h1 <% if(pageName=="Home") { %>
                class="active"
            <% } %>>
            <a href="/">Home</a>
        </h1>

        <h1 <% if(pageName=="About") { %>
                class="active"
            <% } %>>
            <a href="/about">About</a>
        </h1>

        <h1 <% if(pageName=="Projects") { %>
                class="active"
            <% } %>>
            <a href="/projects">Projects</a>
        </h1>

        <h1 <% if(pageName=="Services") { %>
                class="active"
            <% } %>>
            <a href="/services">Services</a>
        </h1>

        <h1 <% if(pageName=="Contact") { %>
                class="active"
            <% } %>>
            <a href="/contact">Contact</a>
        </h1>
    </div>
</section>