<div class="aboutCard">
    <div class="cardHead">
        <h2><%= props.title %></h2>
        <h4><%= props.dates %></h4>
    </div>
    <div class="cardBody">
        <p><%= props.desc %></p>
    </div>
</div>