<div class="aboutCard">
    <div class="cardHead">
        <h3><%= props.title %></h3>
        <h4><%= props.dates %></h4>
    </div>
    <div class="cardBody">
        <p><%= props.desc %></p>
    </div>
</div>