.primaryGrid {
    display: grid;
    grid-template-columns: 10% auto 10%;
}

.navigationMain {
    display: flex;
    flex-direction: row;
    grid-column-start: span 3;
    justify-content: space-around;
}

.navigationMain > h1 > a {
    padding: 0 .25rem;
    text-decoration: none;
    color: black;
}

.navigationMain > h1 > a:visited {
    color: black;
}

.active > a {
    color: orange !important;
    text-decoration: underline !important;
}

.active > a:visited {
    color: orange !important;
    text-decoration: underline !important;
}



